<div class="col-md-4" ng-show="editarEstudiantes.vista_previa">
  <div class="panel panel-default">
    <div class="panel-heading">
      {{ 'VISTA_PREVIA_ESTUDIANTES' | translate }}
    </div>
    <div class="panel-body">
      <div class="thumbnail">
        <br>
        <img src="images/person-flat.png" alt="..." width="150px">
        <div class="caption">

          <h3>{{ 'DOCUMENTO' | translate }}</h3>
          <input type="number" class="form-control" ng-model="editarEstudiantes.estudiante_actual.Documento"></input>
          <h3>{{ 'NOMBRES_ESTUDIANTE' | translate }}</h3>
          <input type="text" class="form-control" ng-model="editarEstudiantes.estudiante_actual.Nombre"></input>
          <h3>{{ 'APELLIDOS_ESTUDIANTE' | translate }}</h3>
          <input type="text" class="form-control" ng-model="editarEstudiantes.estudiante_actual.Apellido"></input>
        </div>
      </div>
      <div class="row" align="center" ng-show="editarEstudiantes.vista_previa">
        <button class="btn btn-outline btn-success btn-md" ng-click="editarEstudiantes.guardar()">{{ 'GUARDAR' | translate }} </button>
        <button class="btn btn-outline btn-danger btn-md" ng-click="editarEstudiantes.eliminar()">{{ 'ELIMINAR' | translate }} </button>
        <button class="btn btn-outline btn-primary btn-md" ng-click="editarEstudiantes.limpiar_seleccion()">{{ 'CANCELAR' | translate }} </button>
      </div>
    </div>
  </div>
</div>
<div ng-class="{'col-md-8': editarEstudiantes.vista_previa , 'col-md-8 col-md-offset-2': !editarEstudiantes.vista_previa}">
  <div class="panel panel-default">
    <div class="panel-heading">
      {{ 'LISTADO_ESTUDIANTES' | translate }}
    </div>
    <div class="panel-body">
      <div ui-grid="editarEstudiantes.gridOptions" ui-grid-auto-resize ui-grid-selection class="ui_grid"></div>
    </div>
  </div>

  <br>
</div>
